<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content='IE=edge' http-equiv=X-UA-Compatible>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MS Login Panel</title>
    <link rel="shortcut icon" type="image/png" href="#">

    <!-- Core Css -->
    <link rel="stylesheet" type="text/css" href="../assets/css/line-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.css">

    <!-- Custom Css -->
    <link rel="stylesheet" type="text/css" href="../assets/css/style.min.css">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- ########## START: Reset password form ########## -->
    <section class="login-wrapper d-flex align-content-center justify-content-center p-3 flex-wrap">
        <a href="index.html" class="w-100 text-center mb-3 mb-lg-5"><img src="../assets/image/logo.png"
                alt="MS Admin Panel" width="150" /></a>
        <div class="login-form bg-white p-3 p-lg-5 rounded">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6 d-none d-lg-flex pr-lg-2">
                    <img src="../assets/image/login-mockup.svg" width="300" alt="">
                </div>
                <div class="col-12 col-lg-6 pl-lg-2">
                    <div class="pagetitle mb-4">
                        <h2>Reset password</h2>
                        <span>Please enter your old password and new password and confirm reset your password.</span>
                    </div>
                    <form [formGroup]="resetForm">
                        <div class="form-group mb-4">
                          <!-- Old Password -->
                            <label>Old Password</label>
                            <div class="input-group border border-light">
                              <input type="password" formControlName="oldPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.oldPassword.errors }" />
                              <div *ngIf="submitted && form.oldPassword.errors " class="invalid-feedback">
                                <div *ngIf="form.oldPassword.errors.required">Currunt Password is required</div>
                            </div>
                            </div>

                            <!-- New password -->
                            <label>New Password</label>
                            <div class="input-group border border-light">
                              <input type="password" formControlName="newPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.newPassword.errors }" />
                              <div *ngIf="submitted && form.newPassword.errors " class="invalid-feedback">
                                <div *ngIf="form.newPassword.errors.required">New Password is required</div>
                                <div *ngIf="!form.newPassword.errors.required && form.newPassword.errors.validatePassword.Invalid">Currunt Password must be a valid</div>
                            </div>

                            </div>

                            <!-- Confirm Password -->
                            <label>Confirm Password</label>
                            <div class="input-group border border-light">

                              <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.confirmPassword.errors }" />
                              <div *ngIf="submitted" class="invalid-feedback">
                                <div id="matchPassword"></div>
                              </div>
                              <div *ngIf="submitted && form.confirmPassword.errors " class="invalid-feedback">
                                <div *ngIf="form.confirmPassword.errors.required">Confirm Password is required</div>
                                <div *ngIf="form.confirmPassword.errors.incorrect">Password not matched</div>
                            </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                            <!-- <a routerLink="" class="btn btn-outline-primary waves-effect waves-primary">Back To Login</a> -->
                            <button type="submit" (click)='resetPassword(resetForm.value)'
                                class="btn btn-primary waves-effect waves-primary w-50">Reset Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- ########## END: Reset Form ########## -->
</body>
</html>
